.button-spacing {
    display: flex;
    flex-direction: column;
    width:fit-content;
}


#questionContainer {
    display: none;
}

#titleContainer {
    display: block;
}

#finalPageContainer {
    display: none;
}

